@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/*
 Style notes
  Red colour used: 
  #C96065, brighter counterpart: #EB5C58
  grey colour used:
   (text-grey-400, text-grey-100 for whitish), #140F10, counterpart: #161616

  Gray - Red Mix:
  #8B6369
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
